<header>


      {{ request.user }}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">На главную</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% for category in all_categories %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'category' slug=category.slug %}">
                        {{ category.title }}</a>
                </li>
                {% endfor %}
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Вход</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'action_user:my-actions' %}">Что я могу делать?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выход ({{ request.user.username }})</a>
                </li>
                {% endif %}
            <li class="nav-item">
                <a href="{% url 'filters:filters_index' %}" class="nav-link">Примеры фильтров</a>


            </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'filters:show_backet' %}"> Ваша корзина ({{ request.session.backet.backet_list|length }})</a>
                </li>
            </ul>

        </div>

    </nav>
</header>
