{% extends 'index.html' %}


{% block body %}

<h2>Количеcтво ресторанов  - {{ all_rst|length  }}</h2>
<a class="btn btn-info" href="{% url 'action_user:my-actions' %}">Вернуться обратно к списку</a>
<hr>
{% for elem in all_rst %}
<div>

    <p>Название ресторана : {{ elem.name }}</p>
    <p>Адрес ресторана : {{ elem.address }}</p>
    <a href="{% url 'action_user:edit-restaurant' elem.id %}" class="btn btn-primary">Отредактировать</a>
    <a href="{% url 'action_user:show-instance' elem.id %}" class="btn btn-info">Просмотреть</a>
    <a href="{% url 'action_user:delete' elem.id %}" class="btn btn-danger">Удалить</a>
    <hr>
</div>
{% endfor %}
{% endblock %}