{% extends 'index.html' %}

{% block body %}
<a class="btn btn-info" href="{% url 'action_user:my-actions' %}">Вернуться обратно к списку</a>
<hr>
<form action="{% url 'action_user:edit-restaurant' pk=form.instance.id %}" method="post">
    {% csrf_token %}
    {% for field in  form %}
    <div class="form-group">
        <label for="">{{field.label}}</label>
        {{field}}
    </div>
    {% endfor %}
    <button class="btn btn-primary">Сохранить!</button>
</form>
{% endblock %}