{% extends 'index.html' %}

{% block body %}
<div class="list-group">
  <a href="{% url 'action_user:create-restaurant' %}" class="list-group-item list-group-item-action">
       Добавить ресторан
  </a>
  <a href="{% url 'action_user:show-all-restaurants' %}" class="list-group-item list-group-item-action">Посмотреть все рестораны({{len}})</a>
</div>
{% endblock %}