{% extends 'index.html' %}

{% block body %}
<a class="btn btn-info" href="{% url 'action_user:my-actions' %}">Вернуться обратно к списку</a>
<hr>
<form action="{% url 'action_user:create-restaurant' %}" method="post">
    {% csrf_token %}
    {% for i in  form %}
    <div class="form-group">
        <label for="">{{i.label}}</label>
        {{i}}
    </div>
    {% endfor %}
    <button class="btn btn-primary">Сохранить!</button>
</form>


{% endblock %}