{% extends 'index.html' %}

{% block body %}
    <div class="rest-item">
        <p>Название  - {{ object_rest.name }}</p>
        <p>Адрес  - {{ object_rest.address }}</p>
        <p>Описание  - {{ object_rest.description }}</p>
    </div>
<hr>
<a class="btn btn-info" href="{% url 'action_user:my-actions' %}">Вернуться обратно к списку действий</a>
<a class="btn btn-success" href="{% url 'action_user:show-all-restaurants' %}">Вернуться обратно к списку ресторанов</a>
{% endblock %}oython