{% extends 'index.html' %}
{% load poll_extras %}
{% block body %}

<div class="phones-wrapper">
    {% for phone in all_phones %}
    <div class=" phone-item card {{ phone.sale|check_sale:'' }}">
        {% if phone.image %}
        <img class="card-img-top" src="{{ phone.image.url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ phone.title }}</h5>
            <p class="card-text">{{ phone.brand }}</p>
        </div>
        <ul class="list-group list-group-flush">
            {% if phone.sale %}
            <li class="list-group-item
                    {{ phone.sale|check_sale:'price' }}">
                Old price -
                {{ phone.price }} $
            </li>
            <li
                    class="list-group-item new-price">
                New price -{{ phone.price|new_price:phone.sale_percent }} $
            </li>
            {% else %}
            <li class="list-group-item ">price -{{ phone.price }} $</li>
            {% endif %}

        </ul>
        <div class="card-body">
            <a href="{% url 'filters:show-detail' phone.id %}" class="btn btn-primary">Просмотреть детальную
                информацию</a>
            <a href="{% url 'filters:add-backet' phone.id %}" onclick="confirm('Действительно вы хотите добавить товар в корзину?')" class="js-click btn btn-success">Добавить
                в корзину</a>
        </div>
    </div>
    {% endfor %}
</div>


{% if ok %}
<script>
    alert('Вы успешно добавили товар в корзину!');
</script>

{% endif %}

<style>

    .phones-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .sale-product {
        position: relative;
    }

    .phone-item {
        width: 33%;
    }

    .sale-product:after {
        position: absolute;
        content: 'Акция';
        font-size: 72px;
        color: blue;
        opacity: .2;
        width: 100%;
        height: 100%;
        top: -30%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }

    .list-group-item.sale-price {
        text-decoration: line-through;
        background: red;
    }

    .new-price {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }
</style>

{% endblock %}