{% extends 'index.html' %}
{% load poll_extras %}
{% block body %}
<h1>count_sum - {{ count_sum }} $</h1>
<h1>sum_product_with_sales - {{ sum_product_with_sales }} $</h1>
<h1>sum_sales - {{ sum_sales }} $</h1>
<a class="btn btn-primary " href="{% url 'filters:clear-backet'  %}">Очистить корзину</a>
{% for elem in request.session.backet.backet_list %}
<div>
    <p>Title - {{ elem.title }}</p>
    <p>Brand - {{ elem.brand }}</p>
    {% if elem.sale %}
    <p style="color: red;">New price -{{ elem.price|new_price:elem.sale_percent }} </p>
    {% endif %}
    <p>price - {{ elem.price }}</p>
    <p>Sale {{ elem.sale }}</p>
    <p>Sale percent {{ elem.sale_percent }} %</p>
    <a href="{% url 'filters:show-detail' elem.id_ %}">Show detail</a>
    <!--<a href="{% url 'filters:delete_product' elem.id_ %}">Delete from backet</a>-->
</div>
<hr>


{% endfor %}



{% endblock %}
