{% extends 'index.html' %}
{% load poll_extras %}
{% block body %}

    <div>

    </div>

    <a class="btn btn-primary" href="{% url 'filters:show-phones' %}">Перейти к телефонам</a>

    <ul>
        <li>Фильтр add - {{ 2|add:80 }}</li>
        <li>Фильтр lower - {{ "NAME"|lower }}</li>
        <li>Фильтр upper - {{ "name"|upper }}</li>
        <li>Фильтр first|upper - {{ "name"|first|upper }}</li>
        <li>Фильтр first|lower - {{ "name"|first|lower }}</li>
        <li title="{{ desc }}">Фильтр truncatewords - {{ desc|truncatewords:"30" }}</li>
        <p>{{ date_var }}</p>
        <li>дата - {{ date_var|date:'Y-m-d H:i' }}</li>
        <li>дата - {{ date_var|date:'Y-m-d H' }}</li>
        <li>дата - {{ date_var|date:'Y-m-d' }}</li>
        <li>дата - {{ date_var|date:'Y-m' }}</li>
        <li>дата - {{ date_var|date:'Y' }}</li>
    </ul>

    <h1>FOR</h1>
    <div class="wrapper">
        {% for elem in list %}
            <span class="item">{{ elem }}</span>
            {% empty %}
            <span>Список пустой</span>
        {% endfor %}
    </div>

    <h1>IF</h1>
    {% if list %}
        {% for elem in list %}
            <span class="item">{{ elem }}</span>
        {% endfor %}
    {% else %}
        <h2 style="color: red;">Списка нет!</h2>
    {% endif %}
    <h1>IF-ELIF-ELSE</h1>
    {% if a == 5 %}
        <h4 style="color: #40ff3a;">5</h4>
    {% elif a == 6 %}
        <h4 style="color: blue;">6</h4>
    {% else %}
        <h1>ELSSE!!!</h1>
    {% endif %}

    <h1>For in dict</h1>
{{ dict_data.keys }}
{{ dict_data.values }}
    {% for k, v in dict_data.items %}
        <h1>   {{ k }}</h1>

        {% for k1 , v1  in v.items %}
            <div>{{ k1 }} - {{ v1 }}</div>
        {% endfor %}
    {% endfor %}
    <h1>Custom Filters</h1>
    <ul>
        <li>
            {{ desc|custom_upper }}
        </li>
    </ul>



    <div class="wrap">
        {% for i in list %}
            <div class="item {{ forloop.counter0|add_class }}">
                <p>forloop.counter - {{ forloop.counter }}</p>
                <p>forloop.counter0 - {{ forloop.counter0 }}</p>
                <p>{{ i }}</p>
                <hr>
            </div>

        {% endfor %}
    </div>
    <style>

        .wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .item {
            width: 50%;

        }

        .three {
            color: red;
            font-size: 24px;
            font-weight: bold;
        }

        .two {
            color: blue;
            font-size: 24px;
            font-weight: bold;
        }

        .one {
            color: green;
            font-size: 24px;
            font-weight: bold;
        }
    </style>
{% endblock %}

