{% extends 'index.html' %}
{% load poll_extras %}
{% block body %}
    <h1>{{ object.title }}</h1>
    <hr>
    <div>
        {% if object.image %}
            <img src="{{ object.image.url }}" style='max-width: 100%' alt="">
            <hr>
        {% endif %}
        <hr>

        <p> Brand -{{ object.brand }}</p>
        <hr>
        <p>Model - {{ object.model }}</p>
        <hr>
        {% if object.sale %}
            <p class="list-group-item {{ object.sale|check_sale:'price' }}">Old price -{{ object.price }} $
            </p>
            <p class="list-group-item new-price">New price -{{ object.price|new_price:object.sale_percent }} $</p>
        {% else %}
            <p class="list-group-item ">price -{{ object.price }} $</p>
        {% endif %}
        <div>
            <h3>Описание</h3>
            <div>{{ object.content|safe }}</div>
        </div>
    </div>




    <style>

        .phones-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
        }

        .sale-product {
            position: relative;
        }

        .phone-item {
            width: 33%;
        }

        .sale-product:after {
            position: absolute;
            content: 'Акция';
            font-size: 72px;
            color: blue;
            opacity: .2;
            width: 100%;
            height: 100%;
            top: -30%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;
        }

        .list-group-item.sale-price {
            text-decoration: line-through;
            background: red;
        }

        .new-price {
            color: #004085;
            background-color: #cce5ff;
            border-color: #b8daff;
        }
    </style>

{% endblock %}