* {
  padding: 0;
  margin: 0;

}

a{
  text-decoration: none;
}

body, html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
  Font-Size: 16px;
  Line-Height: 19px;
  max-width: 100%;
  font-family: 'ProximaNova-Regular';
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

.page-wrapper .page {
  width: 100%;
  margin-top: $header_height_desktop;
}




.container{
  width: 85%;
  margin: auto;
}