@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../../fonts/ProximaNova-Light.ttf");
  font-weight: normal;
}


@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../../fonts/ProximaNova-Bold.ttf");
  font-weight: bold;
}
