{% extends 'index.html' %}

{% block body %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>

{% if login_error %}
<div class="alert alert-danger">
    {{ login_error }}
</div>

{% endif %}
{% endblock  %}