{% extends 'index.html' %}

{% block title %} Регистрация  {% endblock %}
{% block body %}
<h2>Регистрация</h2>
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
    {% if field.errors %}
    <div class="alert alert-info" role="alert">
        {{field.errors}}
    </div>
    {% endif %}
    <div class="form-group">
        <label for="">{{ field.label }}</label>
        {{ field }}
    </div>

    {% endfor %}

    <button type="submit" class="btn btn-success">Регистрация</button>
</form>
{% endblock %}