{% extends 'index.html' %}

{% block body %}

    {% for elem in all_products_in_cat %}
        <h1>{{ elem.brand }}</h1>

    {% endfor %}


    {% if all_products_in_cat %}
        <h1 style="color: green;">Cool!</h1>
    {% else %}
        <h1 style="color: red;">Not Cool!</h1>
    {% endif %}

    <pre>
    if all_products_in_cat:
        print('cool!')
    else:
        print('not cool!')
    </pre>
{% endblock %}