{% extends 'index.html' %}

{% block body %}

<form action="/test-form/" method="post">
    {% csrf_token %}
    <div>
        <input type="text" name="first_name" value="name">
    </div>
    <div>
        <input type="text" name="surname" value="">
    </div>

    <select name="gender" id="gender">
        <option value="-1">--------</option>
        <option value="male">Мужчина</option>
        <option value="female">Женщина</option>
    </select>
    <div>
        <input type="checkbox" name="check">
    </div>
    <div class="input-radio">
        Мужчина<input name="gender_1" type="radio" value="male">
        Женщина<input name="gender_1" type="radio" value="female" checked>
    </div>

    <input type="submit" value="Send">
    <input type="reset" value="Reset">
</form>

<hr>
<br>

{# image = models.ImageField(upload_to='images')#}
{#    title = models.CharField(max_length=255)#}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for elem in photos %}
        {{ forloop.counter0 }}
        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
            <img style="max-width: 300px;" class="d-block w-100" src="{{ elem.image.url }}" alt="First slide">
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<form action="." method="post">
    {% csrf_token %}
    <div>
        <label for="">Введите первое число</label>
        <input name="first_number" type="text">
    </div>
    <div>
        <label for="">Operation</label>
        <select name="operation" id="">
            {% for operation in all_operation %}
            <option value="{{ operation }}">{{ operation }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="">Введите второе число число</label>
        <input name="second_number" type="text">

    </div>
    <button>посчитать!</button>
</form>

{% if res %}
<h3>Результат ваших вычеслений!</h3>
<h1>{{ res }}</h1>
{% endif %}

<p>a = {{ a }}</p>
{% if a == 4 %}
<h3>44444444444</h3>
{% elif a == 5 %}
<h3>555555555</h3>
{% endif %}

{% if b == 5 %}
<h3>787878878787878</h3>
{% endif %}

<div>
    У вас в базе {{ all_places|length }} места
</div>
{% for elem in all_places %}
<div class="product-item">
    <p class="name">Name is - {{ elem.name }}</p>
</div>
{% endfor %}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <input type="text">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--App.init();-->
<!--</script>-->
{% endblock %}